<p>
  Hi <%= @user.name %>,
  <br>
</p>

<p>
  Thank you for availing <%= @plan.name %>!
  <br>
</p>

<p>
  <h4>Plan</h4>
  Name: <%= @plan.name %> <br>
  Price: Php <%= @plan.price %> <br>
  Valid from : <%= @transaction.start_date %> <br>
  Valid until: <%= @transaction.end_date %> <br>
</p>

<p>If you did not avail a plan for a NEAT account, please ignore this email.</p>



