<h1>
  Hello <%= @user.name %>,
  <br>
</h1>

<p>
<h4>You have cancelled your subscription for: </h4>
Name: <%= @plan.name %> <br>
Price: Php <%= @plan.price %> <br>
Valid from : <%= @transaction.start_date %> <br>
Valid until: <%= @transaction.end_date %> <br>
</p>

<p>
  Thank you for subscribing for NEAT services.
  <br>
</p>

<p>If you do not have any transactions with NEAT, please ignore this email.</p>
