<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Neat</title>
</head>

<body id="page-top" class="index">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">neat</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#menuplan"> <i class = 'fa fa-bars'></i>  &nbsp;Menu Plan</a>
          </li>
          <li class="page-scroll">
            <a href="#" class = "dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <i class = 'fa fa-cog fa-spin'></i>  &nbsp;Settings <span class="caret"></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#billingSettings">
                  <i class = 'fa fa-credit-card'></i> &nbsp;Billing</a></li>
              </ul>
            </a>
          </li>
          <li class="page-scroll">
            <a href="#" class = "dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <i class = 'fa fa-user'></i>
              &nbsp;
              <%= @user.email %>
              <span class="caret"></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  <!--<a role="menuitem" tabindex="-1" href="#">-->
                    <!--<i class = 'fa fa-sign-out' onclick = "accountDropDown.submit();"></i> &nbsp;Log Out-->
                  <!--</a>-->
                  <%= link_to('Log Out', sessions_logout_path, role: 'menuitem', tabindex: '-1') %>
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>My Plans</h2>
          <hr class="star-light">
        </div>

        <div class="col-lg-8 col-lg-offset-2">
          <% @my_transactions.each do |my_transaction| %>
            <div class="div-table-content">
              <table class="table " style="table-layout:fixed">
                <tr>
                  <td>
                    <p> <%= Plan.where(id: my_transaction.plan_id).first.name %> </p>
                  </td>
                  <td>
                    <p> <%= my_transaction.start_date %> to <%= my_transaction.end_date %> </p>
                  </td>
                  <td>
                    <a href="#cancelPlanModal" class="btn btn-sm btn-default" data-toggle="modal" onclick="storePlanIDForCancel(<%= my_transaction.plan_id %>);">Cancel</a>
                  </td>
                </tr>
             </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <!-- Menu Plan Grid Section -->
  <section id="menuplan">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Menu Plan</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag('1.jpg', class: 'img-responsive') %>
            <div class="col-sm-14 portfolio-item text-center">
              <br>
              <p><strong>Monday Plan</strong></p>
              <p>Lorem ipsum dolor sit amet, has eu copiosae erroribus.</p>
              <p>Price: P <%= @plan1.price %></p>
            </div>
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag('2.jpg', class: 'img-responsive') %>
            <div class="col-sm-14 portfolio-item text-center">
              <br>
              <p><strong>Tuesday Plan</strong></p>
              <p>Lorem ipsum dolor sit amet, has eu copiosae erroribus.</p>
              <p>Price: P <%= @plan2.price %></p>
            </div>
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag('3.jpg', class: 'img-responsive') %>
            <div class="col-sm-14 portfolio-item text-center">
              <br>
              <p><strong>Wednesday Plan</strong></p>
              <p>Lorem ipsum dolor sit amet, has eu copiosae erroribus.</p>
              <p>Price: P <%= @plan3.price %></p>
            </div>
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag('4.jpg', class: 'img-responsive') %>
            <div class="col-sm-14 portfolio-item text-center">
              <br>
              <p><strong>Thursday Plan</strong></p>
              <p>Lorem ipsum dolor sit amet, has eu copiosae erroribus.</p>
              <p>Price: P <%= @plan4.price %></p>
            </div>
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag('5.jpg', class: 'img-responsive') %>
            <div class="col-sm-14 portfolio-item text-center">
              <br>
              <p><strong>Friday Plan</strong></p>
              <p>Lorem ipsum dolor sit amet, has eu copiosae erroribus.</p>
              <p>Price: P <%= @plan5.price %></p>
            </div>
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag('6.jpg', class: 'img-responsive') %>
            <div class="col-sm-14 portfolio-item text-center">
              <br>
              <p><strong>Weekend Plan</strong></p>
              <p>Lorem ipsum dolor sit amet, has eu copiosae erroribus.</p>
              <p>Price: P <%= @plan6.price %></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Billing Settings Section -->
  <section class="success" id="billingSettings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Billing</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="div-table-content">
            <table class="table " style="table-layout:fixed">
              <tr>
                <td><h5> Name:  </h5></td>
                <td><h5> <%= @user.name %> </h5></td>
                <td>
                  <h5>
                    <a href="#editNameModal" class="edit_button" data-toggle="modal">
                      <i class="fa fa-edit"></i>Edit
                    </a>
                  </h5>
                </td>
              </tr>
              <!--<tr>-->
                <!--<td><h5> Email Address: </h5></td>-->
                <!--<td><h5><span> <%= @user.email %> </span></h5></td>-->
                <!--<td>-->
                  <!--<h5>-->
                    <!--<a href= '#editNameModal' class="edit_button" data-toggle="modal">-->
                      <!--<i class="fa fa-edit"></i>Edit-->
                    <!--</a>-->
                  <!--</h5>-->
                <!--</td>-->
              <!--</tr>-->
              <tr>
                <td><h5> Billing Address: </h5></td>
                <td><h5><span> <%= @user.billing_address %> </span></h5></td>
                <td>
                  <h5>
                    <a href= '#editBillingAddressModal' class="edit_button" data-toggle="modal">
                      <i class="fa fa-edit"></i>Edit
                    </a>
                  </h5>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-6">
            <h3>Location</h3>
            <p>2401 Taft Avenue<br>Manila, PH 1004</p>
          </div>
          <div class="footer-col col-md-6">
            <h3>Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Neat 2015
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Edit Settings Modals -->
  <div class="modal fade bs-example-modal-sm" id = 'editNameModal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-sm">
        <%= form_tag(users_edit_user_info_path, method: :post) do %>
          <div class="modal-body modal-sm">
            <br>
            <input class='form-control' type='text' name='new_name' placeholder='New Name' />
          </div>
          <div class="modal-footer modal-sm">
            <%= submit_tag('Save Changes', class: 'btn btn-sm btn-danger') %>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id = 'editBillingAddressModal' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-sm">
        <%= form_tag(users_edit_user_info_path, method: :post) do %>
          <div class="modal-body modal-sm">
            <br>
            <input class='form-control' type='text' name='new_billing_address' placeholder='New Billing Address' />
          </div>
          <div class="modal-footer modal-sm">
            <!--<button type="submit" class="btn btn-sm btn-danger">Save Changes</button>-->
            <%= submit_tag('Save Changes', class: 'btn btn-sm btn-danger') %>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Gains, bruh</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 ">
            <div class="modal-body">
              <%= image_tag('1.jpg', class: 'img-responsive img-centered') %>
            </div>
          </div>
          <div class = 'col-lg-4'>
            <p class = 'menu_description'>Aliquam et blandit mauris. Suspendisse tincidunt ullamcorper tortor eget blandit. Curabitur pellentesque justo mi, vel bibendum eros tempus non. Proin ut ex pretium, euismod tortor ac, luctus urna. Aenean hendrerit ornare tellus, in accumsan libero hendrerit nec. </p>
            <!--<hr>-->
            <!--<ul class="item-details menu_description" >-->
              <!--<li>Nullam ullamcorper elit ac neque lacinia, ac facilisis lorem luctus.-->
              <!--</li>-->
              <!--<li>Morbi et nunc scelerisque, placerat arcu nec, facilisis sapien.-->
              <!--</li>-->
              <!--<li>Nulla ut elit porta, sagittis nibh eget, pharetra augue.-->
              <!--</li>-->
              <!--<li>Aenean a sapien at ex maximus sagittis.-->
              <!--</li>-->
              <!--<li>Aliquam finibus leo molestie pulvinar commodo.-->
              <!--</li>-->
            <!--</ul>-->
            <hr>
            <h3> PHP <%= @plan1.price %> </h3>
            <br>
            <% if @user.billing_address.nil? %>
              <a href="#billingSettings" class="btn btn-danger btn-block fa-lg" data-dismiss="modal">Setup Billing Address To Avail</a>
            <% else %>
              <%= form_tag(users_avail_plan_path, method: :post) do %>
                <%= hidden_field_tag('name', 'Monday Plan') %>
                <%= hidden_field_tag('price', '200.00') %>
                <h4 class="control-label text-danger">Start Date:</h4>
                <input type="text" name="start_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <h4 class="control-label text-danger">End Date:</h4>
                <input type="text" name="end_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <br><br>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block fa-lg') do %>
                  <i class="fa fa-plus"></i>
                  <strong>AVAIL</strong>
                <% end %>
              <% end %>
              <br><br><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Gains, bruh</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 ">
            <div class="modal-body">
              <%= image_tag('2.jpg', class: 'img-responsive img-centered') %>
            </div>
          </div>
          <div class = 'col-lg-4'>
            <p class = 'menu_description'>Aliquam et blandit mauris. Suspendisse tincidunt ullamcorper tortor eget blandit. Curabitur pellentesque justo mi, vel bibendum eros tempus non. Proin ut ex pretium, euismod tortor ac, luctus urna. Aenean hendrerit ornare tellus, in accumsan libero hendrerit nec. </p>
            <!--<hr>-->
            <!--<ul class="item-details menu_description" >-->
              <!--<li>Nullam ullamcorper elit ac neque lacinia, ac facilisis lorem luctus.-->
              <!--</li>-->
              <!--<li>Morbi et nunc scelerisque, placerat arcu nec, facilisis sapien.-->
              <!--</li>-->
              <!--<li>Nulla ut elit porta, sagittis nibh eget, pharetra augue.-->
              <!--</li>-->
              <!--<li>Aenean a sapien at ex maximus sagittis.-->
              <!--</li>-->
              <!--<li>Aliquam finibus leo molestie pulvinar commodo.-->
              <!--</li>-->
            <!--</ul>-->
            <hr>
            <h3> PHP <%= @plan2.price %> </h3>
            <br>
            <% if @user.billing_address.nil? %>
              <a href="#billingSettings" class="btn btn-danger btn-block fa-lg" data-dismiss="modal">Setup Billing Address To Avail</a>
            <% else %>
              <%= form_tag(users_avail_plan_path, method: :post) do %>
                <%= hidden_field_tag('name', 'Tuesday Plan') %>
                <%= hidden_field_tag('price', '250.00') %>
                <h4 class="control-label text-danger">Start Date:</h4>
                <input type="text" name="start_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <h4 class="control-label text-danger">End Date:</h4>
                <input type="text" name="end_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <br><br>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block fa-lg') do %>
                  <i class="fa fa-plus"></i>
                  <strong>AVAIL</strong>
                <% end %>
              <% end %>
              <br><br><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Gains, bruh</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 ">
            <div class="modal-body">
              <%= image_tag('3.jpg', class: 'img-responsive img-centered') %>
            </div>
          </div>
          <div class = 'col-lg-4'>
            <p class = 'menu_description'>Aliquam et blandit mauris. Suspendisse tincidunt ullamcorper tortor eget blandit. Curabitur pellentesque justo mi, vel bibendum eros tempus non. Proin ut ex pretium, euismod tortor ac, luctus urna. Aenean hendrerit ornare tellus, in accumsan libero hendrerit nec. </p>
            <!--<hr>-->
            <!--<ul class="item-details menu_description" >-->
              <!--<li>Nullam ullamcorper elit ac neque lacinia, ac facilisis lorem luctus.-->
              <!--</li>-->
              <!--<li>Morbi et nunc scelerisque, placerat arcu nec, facilisis sapien.-->
              <!--</li>-->
              <!--<li>Nulla ut elit porta, sagittis nibh eget, pharetra augue.-->
              <!--</li>-->
              <!--<li>Aenean a sapien at ex maximus sagittis.-->
              <!--</li>-->
              <!--<li>Aliquam finibus leo molestie pulvinar commodo.-->
              <!--</li>-->
            <!--</ul>-->
            <hr>
            <h3> PHP <%= @plan3.price %> </h3>
            <br>
            <% if @user.billing_address.nil? %>
              <a href="#billingSettings" class="btn btn-danger btn-block fa-lg" data-dismiss="modal">Setup Billing Address To Avail</a>
            <% else %>
              <%= form_tag(users_avail_plan_path, method: :post) do %>
                <%= hidden_field_tag('name', 'Wednesday Plan') %>
                <%= hidden_field_tag('price', '300.00') %>
                <h4 class="control-label text-danger">Start Date:</h4>
                <input type="text" name="start_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <h4 class="control-label text-danger">End Date:</h4>
                <input type="text" name="end_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <br><br>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block fa-lg') do %>
                  <i class="fa fa-plus"></i>
                  <strong>AVAIL</strong>
                <% end %>
              <% end %>
              <br><br><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Gains, bruh</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 ">
            <div class="modal-body">
              <%= image_tag('4.jpg', class: 'img-responsive img-centered') %>
            </div>
          </div>
          <div class = 'col-lg-4'>
            <p class = 'menu_description'>Aliquam et blandit mauris. Suspendisse tincidunt ullamcorper tortor eget blandit. Curabitur pellentesque justo mi, vel bibendum eros tempus non. Proin ut ex pretium, euismod tortor ac, luctus urna. Aenean hendrerit ornare tellus, in accumsan libero hendrerit nec. </p>
            <!--<hr>-->
            <!--<ul class="item-details menu_description" >-->
              <!--<li>Nullam ullamcorper elit ac neque lacinia, ac facilisis lorem luctus.-->
              <!--</li>-->
              <!--<li>Morbi et nunc scelerisque, placerat arcu nec, facilisis sapien.-->
              <!--</li>-->
              <!--<li>Nulla ut elit porta, sagittis nibh eget, pharetra augue.-->
              <!--</li>-->
              <!--<li>Aenean a sapien at ex maximus sagittis.-->
              <!--</li>-->
              <!--<li>Aliquam finibus leo molestie pulvinar commodo.-->
              <!--</li>-->
            <!--</ul>-->
            <hr>
            <h3> PHP <%= @plan4.price %> </h3>
            <br>
            <% if @user.billing_address.nil? %>
              <a href="#billingSettings" class="btn btn-danger btn-block fa-lg" data-dismiss="modal">Setup Billing Address To Avail</a>
            <% else %>
              <%= form_tag(users_avail_plan_path, method: :post) do %>
                <%= hidden_field_tag('name', 'Thursday Plan') %>
                <%= hidden_field_tag('price', '350.00') %>
                <h4 class="control-label text-danger">Start Date:</h4>
                <input type="text" name="start_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <h4 class="control-label text-danger">End Date:</h4>
                <input type="text" name="end_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <br><br>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block fa-lg') do %>
                  <i class="fa fa-plus"></i>
                  <strong>AVAIL</strong>
                <% end %>
              <% end %>
              <br><br><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Gains, bruh</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 ">
            <div class="modal-body">
              <%= image_tag('5.jpg', class: 'img-responsive img-centered') %>
            </div>
          </div>
          <div class = 'col-lg-4'>
            <p class = 'menu_description'>Aliquam et blandit mauris. Suspendisse tincidunt ullamcorper tortor eget blandit. Curabitur pellentesque justo mi, vel bibendum eros tempus non. Proin ut ex pretium, euismod tortor ac, luctus urna. Aenean hendrerit ornare tellus, in accumsan libero hendrerit nec. </p>
            <!--<hr>-->
            <!--<ul class="item-details menu_description" >-->
              <!--<li>Nullam ullamcorper elit ac neque lacinia, ac facilisis lorem luctus.-->
              <!--</li>-->
              <!--<li>Morbi et nunc scelerisque, placerat arcu nec, facilisis sapien.-->
              <!--</li>-->
              <!--<li>Nulla ut elit porta, sagittis nibh eget, pharetra augue.-->
              <!--</li>-->
              <!--<li>Aenean a sapien at ex maximus sagittis.-->
              <!--</li>-->
              <!--<li>Aliquam finibus leo molestie pulvinar commodo.-->
              <!--</li>-->
            <!--</ul>-->
            <hr>
            <h3> PHP <%= @plan5.price %> </h3>
            <br>
            <% if @user.billing_address.nil? %>
              <a href="#billingSettings" class="btn btn-danger btn-block fa-lg" data-dismiss="modal">Setup Billing Address To Avail</a>
            <% else %>
              <%= form_tag(users_avail_plan_path, method: :post) do %>
                <%= hidden_field_tag('name', 'Friday Plan') %>
                <%= hidden_field_tag('price', '400.00') %>
                <h4 class="control-label text-danger">Start Date:</h4>
                <input type="text" name="start_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <h4 class="control-label text-danger">End Date:</h4>
                <input type="text" name="end_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <br><br>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block fa-lg') do %>
                  <i class="fa fa-plus"></i>
                  <strong>AVAIL</strong>
                <% end %>
              <% end %>
              <br><br><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Gains, bruh</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 ">
            <div class="modal-body">
              <%= image_tag('6.jpg', class: 'img-responsive img-centered') %>
            </div>
          </div>
          <div class = 'col-lg-4'>
            <p class = 'menu_description'>Aliquam et blandit mauris. Suspendisse tincidunt ullamcorper tortor eget blandit. Curabitur pellentesque justo mi, vel bibendum eros tempus non. Proin ut ex pretium, euismod tortor ac, luctus urna. Aenean hendrerit ornare tellus, in accumsan libero hendrerit nec. </p>
            <!--<hr>-->
            <!--<ul class="item-details menu_description" >-->
              <!--<li>Nullam ullamcorper elit ac neque lacinia, ac facilisis lorem luctus.-->
              <!--</li>-->
              <!--<li>Morbi et nunc scelerisque, placerat arcu nec, facilisis sapien.-->
              <!--</li>-->
              <!--<li>Nulla ut elit porta, sagittis nibh eget, pharetra augue.-->
              <!--</li>-->
              <!--<li>Aenean a sapien at ex maximus sagittis.-->
              <!--</li>-->
              <!--<li>Aliquam finibus leo molestie pulvinar commodo.-->
              <!--</li>-->
            <!--</ul>-->
            <hr>
            <h3> PHP <%= @plan6.price %> </h3>
            <br>
            <% if @user.billing_address.nil? %>
              <a href="#billingSettings" class="btn btn-danger btn-block fa-lg" data-dismiss="modal">Setup Billing Address To Avail</a>
            <% else %>
              <%= form_tag(users_avail_plan_path, method: :post) do %>
                <%= hidden_field_tag('name', 'Weekend Plan') %>
                <%= hidden_field_tag('price', '500.00') %>
                <h4 class="control-label text-danger">Start Date:</h4>
                <input type="text" name="start_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <h4 class="control-label text-danger">End Date:</h4>
                <input type="text" name="end_date" class="form-control" data-provide="datepicker" placeholder="MM/DD/YYYY" />
                <br><br>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block fa-lg') do %>
                  <i class="fa fa-plus"></i>
                  <strong>AVAIL</strong>
                <% end %>
              <% end %>
              <br><br><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Cancel Plan Modal-->
  <div class="modal fade bs-example-modal-sm" id='cancelPlanModal' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-sm">
        <div class="modal-header">
          <h4 class="modal-title">Plan Cancel Confirmation</h4>
        </div>
        <%= form_tag(users_cancel_plan_path, method: :post) do %>
          <div class="modal-body modal-sm">
            <br>
            <p>Are you sure you want to cancel this plan?</p>
          </div>
          <div class="modal-footer modal-sm">
            <input type="hidden" name="plan_id" id="plan_id"/>
            <%= submit_tag('Yes', class: 'btn btn-sm btn-danger') %>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
